# BlendedNoise
protected net.minecraft.world.level.levelgen.synth.BlendedNoise xzScale
protected net.minecraft.world.level.levelgen.synth.BlendedNoise yScale
protected net.minecraft.world.level.levelgen.synth.BlendedNoise xzFactor
protected net.minecraft.world.level.levelgen.synth.BlendedNoise yFactor
protected net.minecraft.world.level.levelgen.synth.BlendedNoise smearScaleMultiplier
# BiomeSource
public net.minecraft.world.level.biome.BiomeSource collectPossibleBiomes()Ljava/util/stream/Stream;
public net.minecraft.world.level.biome.TheEndBiomeSource collectPossibleBiomes()Ljava/util/stream/Stream;
public net.minecraft.world.level.biome.MultiNoiseBiomeSource collectPossibleBiomes()Ljava/util/stream/Stream;
public net.minecraft.world.level.biome.FixedBiomeSource collectPossibleBiomes()Ljava/util/stream/Stream;
public net.minecraft.world.level.biome.CheckerboardColumnBiomeSource collectPossibleBiomes()Ljava/util/stream/Stream;
# EnderMan
protected net.minecraft.world.entity.monster.EnderMan teleportTowards(Lnet/minecraft/world/entity/Entity;)Z